body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.folder {
    display: flex; /* Align the button and folder name horizontally */
    align-items: center; /* Center vertically */
    border: 1px solid #e30808; /* Add a border to mimic a folder outline */
    padding: 5px; /* Add padding for spacing */
    margin-bottom: 5px; /* Add margin to separate folders */
  
    /* Style the delete button */
    .folder button {
      margin-left: 5px;
    }
  }
  