/* Login1.css */

/* Add margin from the top banner */
.login-form {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 60px auto; /* Add margin from the top banner */
  text-align: center;
}

.login-form h3 {
  font-size: 48px;
  margin: 10px 0;
}

.login-form div {
  margin: 10px 0;
}

.login-form label {
  font-weight: bold;
}

/* Use the styles from signup.css for input fields */
.login-form input {
  width: 460px; /* Adjust the width as needed */
  padding: 10px;
  margin: 5px auto; /* Center-align the input fields vertically */
  display: flex; /* Ensures the input fields are on separate lines */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Adjust the font size as needed */
  /* Center-align the text within the input fields */
}

/* Use the styles from signup.css for login and signup buttons */
.login-button{
  width: 30%;
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
 .signup-button {
  width: 30%;
  background-color: #4CBB17;
  color: #fff;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover, .signup-button:hover {
  background-color: #0056b3;
}

.login-form p {
  color: red;
  margin: 10px 0;
}
