/* signup.css */

/* Add margin from the top banner */
.signup-form {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 60px auto; /* Add margin from the top banner */
  text-align: center;
}

.signup-form h3 {
  font-size: 18px;
  margin: 10px 0;
}

.signup-form form {
  width: 95%;
}

.signup-form label {
  font-weight: bold;
  margin-bottom: 5px;
}
.login-form h1 {
  font-size: 48px;
  margin: 10px 0;
}
.signup-form input {
  width: 460px; /* Adjust the width as needed */
  padding: 10px;
  margin: 5px auto; /* Center-align the input fields vertically */
  display: flex; /* Ensures the input fields are on separate lines */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* Adjust the font size as needed */
  /* Center-align the text within the input fields */
}

/* Give separate colors to the Login and Signup buttons */
.login-button {
  width: 30%;
  background-color: #007BFF; /* Color for Login button */
  color: #fff;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #0056b3;
}

.signup-button {
  width: 30%;
  background-color: #28a745; /* Color for Signup button */
  color: #fff;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signup-button:hover {
  background-color: #1e7e34;
}

.signup-form h5 {
  font-size: 14px;
  margin: 10px 0;
}
